In [9]:
from bs4 import BeautifulSoup
import requests
import time
import datetime

In [21]:
URL = 'https://www.amazon.com/TSHIRTAMAZING-Science-Programmer-Statistic-Scientist/dp/B08KGC13LK/ref=sr_1_45?crid=2GAC8IG6NF4N8&keywords=data%2Banalyst%2Btshirt&qid=1675941215&sprefix=data%2Banalyst%2Btshirt%2Caps%2C262&sr=8-45'

headers = {"User-Agent": "Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/109.0.0.0 Safari/537.36", "Accept-Encoding": "gzip, deflate, br", "Accept":"text/html,application/xhtml+xml,application/xml;q=0.9,*/*;q=0.8,application/signed-exchange;v=b3;q=0.9", "DNT":"1", "Connection":"close", "Upgrade-Insecure-Requests":"1"}

page = requests.get(URL, headers=headers)

soup1 = BeautifulSoup(page.content, "html.parser")

soup2 = BeautifulSoup(soup1.prettify(), "html.parser")

title = soup2.find(id='productTitle').get_text()

price = soup2.find(class_='a-offscreen').get_text()

print(title)
print(price)

                   TSHIRTAMAZING Data Science T Shirt Programmer Analyst Statistic Scientist Black


                  $22.95

In [22]:
price = price.strip()[1:]
title = title.strip()

print(title)
print(price)

TSHIRTAMAZING Data Science T Shirt Programmer Analyst Statistic Scientist Black
22.95

In [25]:
today = datetime.date.today()
print(today)

2023-02-09

In [26]:
import csv

header = ['Title', 'Price', 'Date']
data = [title, price,today]

#create csv
with open('AmazonWebScrapedDataSet.csv', 'w', newline='', encoding='UTF8') as f:
    writer = csv.writer(f)
    writer.writerow(header)
    writer.writerow(data)

In [33]:
import pandas as pd

df = pd.read_csv(r'C:\Users\Ania Minko\AmazonWebScrapedDataSet.csv')
df

                                               Title  Price        Date
0  TSHIRTAMAZING Data Science T Shirt Programmer ...  22.95  2023-02-09
1  TSHIRTAMAZING Data Science T Shirt Programmer ...  22.95  2023-02-09
2  TSHIRTAMAZING Data Science T Shirt Programmer ...  22.95  2023-02-09
3  TSHIRTAMAZING Data Science T Shirt Programmer ...  22.95  2023-02-09
4  TSHIRTAMAZING Data Science T Shirt Programmer ...  22.95  2023-02-09

In [32]:
# append data to the csv

with open('AmazonWebScrapedDataSet.csv', 'a+', newline='', encoding='UTF8') as f:
    writer = csv.writer(f)
    writer.writerow(data)